.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header__title {
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.login-header__subtitle {
    color: #aaa;
    font-size: 16px;
}

.form-field {
    margin-bottom: 15px;
}

.form-field__label {
    display: block;
    margin-bottom: 6px;
    font-weight: 800;
    color: #333;
    font-size: 14px;
}

.form-field__input {
    width: calc(100% - 0px);
    padding: 8px 12px;
    border: 2px solid #e1e5e9;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
}

.form-field__input::placeholder {
    color: #999;
}

.form-field__error {
    font-size: 12px;
    color: #e74c3c;
    margin-top: 4px;
    margin-bottom: 0;
}

.forgot-password {
    margin-bottom: 24px;
}

.forgot-password__link {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

.forgot-password__link:hover {
    color: #0022b8;
}

.login-footer {
    text-align: center;
}

.submit-btn {
    width: calc(100% -50px);
    padding: 14px 20px;
    background-color: #c2bfb5;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}
.submit-btn:hover{
    box-shadow: 0 4px 12px rgba(83, 93, 142, 0.3);
    background-color: #667eea;
    color: #fff;
}