.nav-header {
    width: 280px;
    height: 100vh;
    background-color: #e6f2f2;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.nav-header__content {
    padding: 14px 20px;
    font-weight: 700;
    font-size: 16px;
    color: #5b6b79;
    cursor: pointer;
    font-family: "Inter var", sans-serif;
}

.nav-content__trigger {
    margin-bottom: 10px;
}

.nav-content__coll {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}