.nav-header {
    max-width: 240px;
    height: 100vh;
    position: relative;
    background-color: #e6f2f2;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.nav-header__content {
    padding: 14px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #5b6b79;
    cursor: pointer;
    font-family: "Inter var", sans-serif;
}