body {
    font-family: "Roboto Flex", sans-serif;

    button {
        outline: none !important;
    }
}

.main-content {
    margin-left: 220px;
    margin-block-start: 0.5rem;
    height: calc(100vh - 50px);

    .container {
        padding: 0 15px;
    }
}

.page-wrapper {
    background-color: #f4f3f3;
}

.page-container {
    padding: 0 20px;
}