body {
    font-family: "Roboto Flex", sans-serif;

    button {
        outline: none !important;
    }
}

.main-content {
    margin-left: 240px;
    margin-block-start: 3.5rem;
    height: calc(100vh - 50px);

    .container {
        padding: 0 10px;
    }
}