.auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2545;
    height: 100vh;
}

.auth-layout__card {
    background-color: #fff !important;
    border-radius: 24px;
    width: 400px;
    padding: 15px;
}