.navbar-left {
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-item {
    padding: 5px;
}

.menu-item:hover {
    color: #476075;
}

.dropdown-item:hover {
    padding: 10px;
    border-radius: 0 !important;
    border: none !important;
}

.dropdown-menu__content {
    border-radius: 0 !important;
    border: none !important;
}